.container {
    background-color:#e9ecef;
    height: 400px;
    border:1px solid  #f0f0f1;
    border-radius:4px;
    margin-top:50px;
}

.col-6, .col-12{
    background-color:#ffffff;
    margin: auto;
    height: 300px;
    border:1px solid  #f0f0f1;
    margin-top:25px;
    border-radius:4px;
}

