<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="jumbotron">
      <h1 class="display-4">LE KRAV MAGA</h1>
      <p class="lead">Histoire du Krav Maga</p>
      <hr class="my-4">
      <p>  
        Maître Imrich Lichtenfeld
        Le Krav Maga est une discipline de self-défense créée dans les années 40 par Maître Imrich Lichtenfeld, dit Imi, un Juif tchécoslovaque né à Bratislava.
        
        Fils d’un inspecteur de police spécialiste en techniques de soumission, Imi pratiqua très tôt différents sports, avec une prédilection pour la gymnastique, la boxe et la lutte, disciplines dans lesquelles il se distingua au niveau national et international.
        
        Lorsque le fascisme commença à gangrener la Tchécoslovaquie au cours des années 30, Imi constitua un groupe de jeunes athlètes chargés de défendre la communauté juive. Il participa alors à de nombreuses bagarres qui aiguisèrent sa prise de conscience sur les différences essentielles entre les compétitions sportives qui lui étaient familières et le combat de rue. 
        C’est à ce moment que les principes essentiels du Krav Maga commencèrent à se cristalliser.
        
        Imi Lichtenfeld (de son vrai prénom Imrich), naquit en 1910 à Bratislava, en Tchécoslovaquie. Inspiré et encouragé par son père Samuel, ancien acrobate de cirque et lutteur, professeur d’éducation physique, détective et instructeur en chef de la Police Départementale reconnu pour son enseignement de la self – défense, mais aussi pour ses nombreuses arrestations, Imi pratiqua de nombreux sports.
        
        Il se concentrera finalement sur la gymnastique, la lutte et la boxe, participant activement pendant dix ans à un grand nombre de compétitions, dont il sortit souvent victorieux, principalement en lutte. Lorsque, dans les années trente, le fascisme fit son apparition, Imi réunit autour de lui un groupe de jeunes athlètes, dont la mission était de protéger la communauté juive locale en luttant contre les troupes fascistes. 
        Il prit ainsi part à de nombreuses bagarres, qui aiguisèrent sa prise conscience sur les différences entre les combats de rue et les compétitions sportives. Les premiers principes du Krav Maga étaient nés.
        
        Richard Douieb
        Né à Jérusalem en 1956. Il réside en France jusqu’à l’âge de 16 ans, puis retourne en Israël où il débute les arts martiaux par la pratique du Krav Maga. Incorporé par la suite dans un commando d’élite de l’armée israélienne, Richard obtient un diplôme d’instructeur militaire en Krav Maga en suivant l’enseignement de Maître Lichtenfeld.
        
        Il revient en France en 1980 et pratique, outre le Krav Maga, différentes disciplines : Judo, Jiu-Jitsu, Boxe française, thaïe et américaine, discipline qu’il enseigne alors à Argenteuil et dans laquelle il décroche un titre de champion de France en 1983. Entre 1982 et 1986, Richard passe en Israël les examens de 2ème puis de 3ème dan de Krav Maga ainsi qu’un diplôme d’Etat de professeur agréé par l’éducation nationale Israélienne. A la fin des années 80, il est nommé représentant officiel du Krav Maga en Europe par Maître Lichtenfeld.
        
        En 1990, il obtient son 4ème dan et donne ses premiers stages en Suisse. Trois ans plus tard, Richard devient le formateur exclusif en combat rapproché du prestigieux GIGN français, responsabilité qu’il assume toujours à l’heure actuelle. Il obtient le 5ème Dan en 1995, puis reçoit en 2000 le 6ème Dan de la part du collège des ceintures noires de la Fédération européenne. Le 25 mai 2007, devant un jury de la FFKAMA, dont Dominique Valéra faisait partie, il confirme son 6ème Dan. 
        La qualité et le sérieux de son travail lui valent reconnaissance et respect dans le monde des arts martiaux. Richard est l’auteur de plusieurs films DVD et livres de référence sur le Krav Maga. Il enseigne actuellement à Paris et donne de nombreux stages et séminaires partout en Europe. Richard est unanimement apprécié et respecté par ses élèves pour ses immenses qualités martiales, pédagogiques et humaines.
        </p>
      </div>   
    </div>
    <div class="col-lg-4">
        <img src="assets/imgs/IMG_2009.jpg" alt="" class="pic_1">
    </div>    

  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron">
        <h1 class="display-4">LA FEKM</h1>
        <p class="lead">Fédération Européenne de Krav Maga</p>
        <hr class="my-4">
        <p>
          Créée en 1997 par Richard DOUIEB délégué par Imi LICHTENFELD, la Fédération Européenne compte aujourd’hui plus de 4500 licenciés dans 8 pays : France, Belgique, Suisse, Pologne, Finlande, Portugal, Italie et Espagne. 
          En France, lors de la réunion de la Commission nationale FFKDA (Fédération Française de Karaté et Disciplines associées) qui s’est tenue le 5 janvier 2007, Richard DOUIEB a été nommé Coordonnateur et responsable technique du Krav-Maga.
          
          Les adhérents de la FEKM s’engagent à respecter le code moral suivant :
          
          » Adhérent de la F.E.K.M./R.D., je m’engage à respecter la charte de conduite suivante et ferai preuve :
          
          – D’honnêteté
          – De non agressivité
          – D’humilité
          – De respect du réglement de nos statuts, de notre réglement intérieur, des instructeurs et de nos partenaires.
          
          En outre, je m’engage à n’utiliser les techniques de Krav Maga exclusivement que pendant les cours ou dans le seul but de défendre mon intégrité physique voire celle de mes proches.
          
          Je devrai également contribuer à instaurer un climat d’amitié, de simplicité et de convivialité.  »
          La FEKM-RD ne cesse de se développer et chaque année de nouvelles Fédérations Nationales voient le jour. Ainsi, la Belgique, l’Espagne, la Finlande, La France, l’Italie, la Pologne, le Portugal, la Suisse représentent le krav maga. Les formateurs de Krav Maga, 
          sont ceintures noires et suivent une formation lors de stages dirigés par Richard Douieb. 
          Après validation ils reçoivent un diplôme de la FEKM-RD.
        </p>
      </div>
    </div>
    <div class="col-lg-12" >
      <img src="assets/imgs/IMG_2009.jpg" alt="" class="pic_2">
    </div>
  </div>
</div>
