

<div class="jumbotron" *ngIf="!(authService.user | async)">
  <div class="container">
      <div class="row" >
          <div class="col-md-6 offset-md-3">
              
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!(authService.user | async)">
                  <h2>Se connecter</h2>
          
                  <div class="form-group">
                      <label>Email</label>
                      <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [(ngModel)]="user.email" placeholder="nom@mail.com"/>
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email obligatoire</div>
                          <div *ngIf="f.email.errors.email">Email non-valide</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>Password</label>
                      <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" [(ngModel)]="user.password" placeholder="Mot de passe"/>
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">Mot de passe obligatoire</div>
                          <div *ngIf="f.password.errors.minlength">6 charactères requis</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <button [disabled]="loading" class="btn btn-primary">Connection</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>



<router-outlet></router-outlet>

