<div class="container">
    <h2>PROFILE</h2> 
    <p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Modifier
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>
    <div class="row">
      <div class="col-6">photo</div>
      <div class="col-6">
        <p>identité</p> 
          
            <div class="form-row">
              <div class="col-2">
                <input type="text" class="form-control" placeholder="Civilité">
              </div>
              <div class="col-10">
                <input type="text" class="form-control" placeholder="nom">
              </div>
              <div class="col-10">
                <input type="text" class="form-control" placeholder="prénom">
              </div>
              <div class="col-2">
                <input type="text" class="form-control" placeholder="age">
              </div>
              <div class="col-12">
                <input type="text" class="form-control" placeholder="adresse">
              </div>
              <div class="col-2">
                <input type="text" class="form-control" placeholder="cp">
              </div>
              <div class="col-8">
                <input type="text" class="form-control" placeholder="ville">
              </div>
            </div>
          
           
          
      </div>
    </div>
  </div>
  
   
