
<app-navbar></app-navbar>

<router-outlet></router-outlet>


<footer>

  <p class="text-center">2018 KMB95</p> 
  <div class="row">
    <div class="col-6">
      <nav class="nav flex-column">
          <a class="nav-link active" routerLink="">Home</a>
          <a class="nav-link" routerLink="club">Le club</a>
          <a class="nav-link" routerLink="krav">Le krav Maga</a>
          
      </nav>
    </div>
    <div class="col-6">
      <nav class="nav flex-column">
          
            <a class="nav-link" routerLink="inscription">Inscription</a>
            
            <a class="nav-link" routerLink="acces" role="button">Accès Membres</a>
      </nav>
        
    </div>
  </div>


</footer>