<div class="container">
  <div class="row"> 
    <div class="col-lg-4">
      <section>
        <img src="assets/imgs/index.png" alt="logo_Fekm" >
        <p>Affilié à la <strong>F</strong>édération <strong>E</strong>uropéenne de <strong>K</strong>rav <strong>M</strong>aga</p>
      </section>
    </div>
    <div class="col-lg-8">
      <header>
      <h1>KRAV MAGA 95</h1>  
      <h2>Enghien-les-Bains</h2> 
      </header>
    </div>
   
  
  </div>
  
</div>


<iframe  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2619.255687882913!2d2.304891!3d48.967657!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd98e905298a89576!2sEnergie+Forme!5e0!3m2!1sfr!2sus!4v1545920769136" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>



<div class="container" >
    
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="container" >
              <hr>
                <p>
                <button class="btn btn-outline-secondary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  ADRESSE
                </button>
                </p>
                <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                    <p>
                    <strong>Adresse:</strong> 
                    Centre Energie Forme 
                    41 bis, rue de Malleville – 95880 Enghien-les-Bains
                    </p>
                    <p>
                    <strong>Contact:</strong> 
                    Bruno Loret
                    06.88.75.87.44  
                    loretvalbru@free.fr
                    </p>
                  </div>
                </div>      
            </div>
            <div class="container" >
                
              <hr>
                <p>       
                <button class="btn btn-outline-secondary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                  HORAIRES COURS
                </button>
                </p>
                <div class="collapse" id="collapseExample2">
                  <div class="card card-body">
                    <p>
                    <strong>Horaires:</strong> 
                    Le mercredi de 19h00 à 20h30 et Samedi de 14h00 à 15h30
                    </p>
                    <p>
                    <strong>Précisions:</strong> 
                    Le mercredi de 19h00 à 20h30
                    (sur tatami, pieds-nus)
                    <br>    
                    Le samedi de 14h00 à 15h30
                    (parquet, en chaussures de sport)
                    </p>
                  </div>
                </div>      
            </div>
            <div class="container">
              <hr>
                <p>       
                <button class="btn btn-outline-secondary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                  TARIFS
                </button>
                </p>
                <div class="collapse" id="collapseExample3">
                  <div class="card card-body">
                    <p>
                    <strong>Cotisations:</strong><br> 
                    LLa cotisation annuelle de <strong>340 Euros</strong> <br>
                    +
                    Assurance de 33 Euros<br>
                    +
                    Passeport FEKM de 8 Euros (première année uniquement)<br>
                    
                    pour un accès à tous les cours.<br><hr>
                    
                    Les cours sont assurés pendant les vacances scolaires
                    (hors vacances de Noël et vacances d’été)
                    
                    Cours particuliers, contacter Bruno Loret:
                    loretvalbru@free.fr  ou 06 88 75 87 44
                    </p>
                  </div>
                </div>      
            </div> 
            <br>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">EQUIPEMENT</h1><hr>
                  <p class="lead">

                    <strong>Obligatoire :</strong><br>
                      - Pantalon de Kimono noir,<br>
                      - T-shirt Blanc,<br>
                      - Coquille,<br>
                      - Protège tibias,<br>
                      - Protège dents,<br>
                      - Gants de boxe <br>
                      
                      <strong>Conseillé :</strong><br>
                      - Genouillères.
                      </p>
                </div>
              </div>
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-12" >
            <h2>Instructeurs</h2>
                <div class="card" class="Instructeur">
                        <img class="card-img-top" src="assets/imgs/IMG_2009.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Bruno Loret</h5>
                          <p class="card-text">2e Darga Krav Maga, Instructeur Fédéral
                                2e Dan Judo
                                Formé par Richard Douïeb (6e Darga) et Jean-Luc Reigner (4e Darga)</p>
                        </div>
                </div>
                <br>
                <div class="card" class="Instructeur">
                        <img class="card-img-top " src="assets/imgs/IMG_2009.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Florent Loret</h5>
                          <p class="card-text">2e Darga, Instructeur</p>
                        </div>
                </div>
        </div>
        
               
        
        
    </div>
</div>
   
